.root {
    display: flex;
    flex-grow: 1;
    min-height: 100vh;
    min-height: 100dvh;
    position: relative;
    overflow-x: hidden;
}

.content {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    z-index: 1;
}

.main {
    max-width: 520px;
    width: 100%;
    align-self: center;
    padding: 12px 20px 0;
}

@media (min-width: 640px) {
    .main {
        max-width: 620px;
    }
}

@media (max-width: 480px) {
    .main {
        padding: 0 16px;
    }
}
